/*
Change the values here in :root to change the dimensions of the layout.
*/
:root {
    /* Text */
    --font-fize: 'smaller';
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* Dimensions */
    --item-spacing: 8px;
    --bar-width: 40px;
    --bar-height: 100px;
    --bar-value-spacing: 4px;
    --value-label-space: 0;
    --label-height: 100px;

    /* Borders */
    --bar-container-border: 2px solid darkgray;

    /* Background */
    --bar-background: linear-gradient(lightgray, gray);
    --value-background: linear-gradient(white, lightgray);
    --label-background: linear-gradient(black, gray);
}

body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

/*
    This should be pretty self-explanatory, but just in case.

    .barcontainer = the frame/box containing a bar.
    .bar = the actual bar visible in the container.
    .value = the box that contains the numerical value.
    .label = the descriptive label below the value.

    The bars go from bottom top top due to the transform on the .barcontainer.
*/
.container {
    vertical-align: top;
    display: inline-block;
}
    .barcontainer, .value, .label {
        width: var(--bar-width);
        box-sizing: border-box;
        overflow: hidden;
        margin-left: var(--item-spacing);
        text-align: center;
    }

    .barcontainer {
        height: var(--bar-height);
        transform: rotateX(180deg);
        border: var(--bar-container-border);
    }
        .bar {
            width: 100%;
            height: 100%;
            background-image: var(--bar-background);
            transition: height 1s;
        }

    .value {
        background-color: white;
        font-weight: bold;
        padding: 2px;
        color: black;
        margin-top: var(--bar-value-spacing);
        background-image: var(--value-background);
    }
    .label {
        margin-top: var(--value-label-space);
        padding: 2px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 90%;
        width: var(--bar-width);
        height: var(--label-height);
        color: white;
        background-image: var(--label-background);
        writing-mode: vertical-lr;
    }